<p>{% extends "base.html" %}
{% block title %}IIS日志{% endblock %}
<h3>{% block headTitle %}IIS日志信息：{% endblock %}</h3>
{% block content %}
<form action="" action="get">
	请求方法：<input type="text" name="method"/>
	请求端口：<input type="text" name="port"/>
	<input type="submit" text="xx"/>
</form>
<div>
	total records: {{total}}
</div>
<table border="1">
	<thead>
		<tr>
			<td>
				请求IP
			</td>
			<td>
				服务器IP
			</td>
			<td>
				服务器端口
			</td>
			<td>
				请求时间
			</td>
			<td>
				请求用户<p></p>
			</td>
			<td>
				user-agent
			</td>
			<td>
				请求方法
			</td>
			<td>
				请求url
			</td>
			<td>
				响应时间
			</td>
			<td>
				响应状态
			</td>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities%}
		<tr>
			<td>
				{{entity.requestIP}}
			</td>
			<td>
				{{entity.ip}}
			</td>
			<td>
				{{entity.port}}
			</td>
			<td>
				{{entity.date|date:"Y-m-d H:i:s"}}
			</td>
			<td>
				{{entity.user}}
			</td>
			<td>
				{{entity.userAgent}}
			</td>
			<td>
				{{entity.method}}
			</td>
			<td>
				{{entity.url}}
			</td>
			<td>
				{{entity.timeTaken}}
			</td>
			<td>
				{{entity.responseStatus}}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}</p>